<?xml version="1.0"?>

<system xmlns              = "http://www4.informatik.uni-erlangen.de/RTSC"
	xmlns:xsi          = "http://www.w3.org/2001/XMLSchema-instance">

  <name>TestSystem</name>
  <mappingtype>name</mappingtype>
  <granule>ms</granule>
  <resolution>1</resolution>
  <systemtype>OSEKOS</systemtype>

  <periodicevent>
    <identifier>Event1</identifier>
    <period>1000</period>
    <phase>0</phase>
    <jitter>0</jitter>
  </periodicevent>

  <nonperiodicevent>
    <identifier>IRQ1</identifier>
    <interarrivaltime>2000</interarrivaltime>
  </nonperiodicevent>

  <task>
    <event>Event1</event>
    <subtask root="true">
      <handler>H1</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>200</deadline>
      </deadline>
    </subtask>
    <subtask>
      <handler>H2</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>200</deadline>
      </deadline>
    </subtask>
    <subtask>
      <handler>H3</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>200</deadline>
      </deadline>
    </subtask>
    <subtask>
      <handler>H4</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>200</deadline>
      </deadline>
    </subtask>
    <subtask>
      <handler>H5</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>200</deadline>
      </deadline>
    </subtask>
  </task>

  <task>
    <event>IRQ1</event>
    <subtask root="true">
      <handler>ISR1</handler>
      <deadline>
        <relative>true</relative>
        <type>hard</type>
        <deadline>2000</deadline>
      </deadline>
    </subtask>
  </task>

  <specificdescription>osekossystem.xml</specificdescription>
</system>
